@charset "UTF-8";
/* コピペ用コード */
:root {
  /* フォントサイズ */
  --font-10: 0.625rem; /* 12px */
  --font-12: 0.75rem; /* 12px */
  --font-13: 0.8125rem; /* 13px */
  --font-14: 0.875rem; /* 14px */
  --font-16: 1rem; /* 16px */
  --font-20: 1.25rem; /* 20px */
  --font-24: 1.5rem; /* 24px */
  --font-28: 1.75rem; /* 28px */

  /* 文字カラー */
  --font-color: #333;

  /* ラインカラー */
  --line-color: #c3c3c3;

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}
@media screen and (max-width: 896px) {
}

/* 共通 */
body {
  font-family: 'Raleway', sans-serif;
  color: var(--font-color);
  line-height: normal;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

.cart,
.size {
  font-size: var(--font-12);
}

/* header */
.header__inner {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 46px 100px 26px;
  border-bottom: 1px solid var(--line-color);
}
@media screen and (max-width: 896px) {
  .header__inner {
    overflow: scroll;
    padding: 36px 19px 16px;
    border-bottom: none;
    margin-bottom: 0;
  }
}

.header__logo {
  text-align: center;
  margin-bottom: 36px;
}
@media screen and (max-width: 896px) {
  .header__logo {
    margin-bottom: 26px;
  }
}

/* gnav */
.gnav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: var(--font-12);
}
@media screen and (max-width: 896px) {
  .gnav {
    overflow: scroll;
  }
}

.gnav__list {
  display: flex;
}
.gnav__item:not(:last-of-type) {
  margin-right: 14px;
}

/* main */
.product__inner {
  max-width: 800px;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: row-reverse;
  margin: 0 auto 110px;
}
@media screen and (max-width: 896px) {
  .product__inner {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto 110px;
  }
}

.product__inner--right {
  order: 2;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 896px) {
  .product__inner--right {
    padding: 0 16px;
  }
}

.product__inner--left {
  order: 1;
}
@media screen and (max-width: 896px) {
  .product__inner--left {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 896px) {
  .product__image {
    width: 100%;
    height: auto;
  }
}

.product__ttl {
  font-size: var(--font-16);
  font-weight: 700;
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  padding: 20px 0;
  margin-bottom: 20px;
}

.product__txt {
  font-size: var(--font-12);
  line-height: 1.9;
  margin-bottom: 30px;
}

.product__desc {
  margin-bottom: 30px;
}

.product__price {
  font-size: var(--font-12);
}

/* cart */
.cart {
  margin-bottom: 30px;
}

.cart__table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  text-align: center;
}

.cart__table-header,
.cart__body-row:not(:last-of-type) {
  border-bottom: 1px solid var(--line-color);
}

.cart__header-cell:not(:last-of-type),
.cart__body-cell:not(:last-of-type) {
  border-right: 1px solid var(--line-color);
  padding: 10px 0;
}

.cart__header-cell:not(:last-of-type) {
  width: 68px;
}

.cart__body-cell {
  padding: 10px;
}

.cart__select {
  border: 1px solid var(--line-color);
  color: var(--font-color);
  padding: 0 10px;
}

.cart__btn {
  background: var(--btn-color);
  color: #fff;
  font-size: var(--font-12);
  width: 100%;
  height: 50px;
}

/* size */
.size__table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--line-color);
  text-align: center;
}

.size__table-header,
.size__body-cell:first-of-type {
  background: #ecebeb;
}

.size__header-cell,
.size__body-cell {
  border: 1px solid var(--line-color);
  padding: 10px 0;
}

/* footer */
.footer__inner {
  padding-bottom: 10px;
}

.footer__copyright {
  display: block;
  font-size: var(--font-10);
  text-align: center;
}
