@charset "UTF-8";
/* コピペ用コード */
.font-size-dummy {
  font-size: 0.75rem; /* 12px */
  font-size: 0.8125rem; /* 13px */
  font-size: 0.875rem; /* 14px */
  font-size: 1rem; /* 16px */
  font-size: 1.25rem; /* 20px */
  font-size: 1.5rem; /* 24px */
  font-size: 1.75rem; /* 28px */
}
@media screen and (max-width: 896px) {
}

/* 共通 */
body {
  font-family: 'Raleway', sans-serif;
  color: #333;
  line-height: normal;
}

a {
  color: #333;
  text-decoration: none;
}

.hidden {
  display: none;
}

.header__inner {
}

/* header */
/* gnav */
.gnav {
  display: flex;
  justify-content: space-between;
}

.gnav__list {
  display: flex;
}
