@charset "UTF-8";
/* コピペ用コード */
:root {
  --font-12: 0.75rem; /* 12px */
  --font-13: 0.8125rem; /* 13px */
  --font-14: 0.875rem; /* 14px */
  --font-16: 1rem; /* 16px */
  --font-20: 1.25rem; /* 20px */
  --font-24: 1.5rem; /* 24px */
  --font-28: 1.75rem; /* 28px */
}
@media screen and (max-width: 896px) {
}

/* 共通 */
body {
  font-family: 'Raleway', sans-serif;
  color: #333;
  line-height: normal;
}

a {
  color: #333;
  text-decoration: none;
}

.hidden {
  display: none;
}

.header__inner {
}

/* header */
.header__inner {
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #c3c3c3;
}

.header__logo {
  text-align: center;
}

/* gnav */
.gnav {
  display: flex;
  justify-content: space-between;
}

.gnav__list {
  display: flex;
}

/* main */
.sec__inner {
  max-width: 800px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

.sec-ttl {
  font-size: 1rem;
  font-weight: 700;
}

.sec__desc {
  font-size: 0.75rem;
  line-height: 1.9;
}

/* footer */
.footer__copyright {
  display: block;
  text-align: center;
}
